<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dacn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_knowledge"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/img_knowledge"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACN"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".hoanthanhbaithi"
            android:exported="false" />
        <activity
            android:name=".mucluc.menu_thong_bao"
            android:exported="false" />
        <activity
            android:name=".popup.popup_dang_xuat"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".hengio_1"
            android:exported="false" />
        <activity
            android:name=".quenmatkhau.quenmatkhau4"
            android:exported="false" />
        <activity
            android:name=".quenmatkhau.quenmatkhau3"
            android:exported="false" />
        <activity
            android:name=".quenmatkhau.quenmatkhau2"
            android:exported="false" />
        <activity
            android:name=".Bo_de_thi.bo_de_thi"
            android:exported="false" />
        <activity
            android:name=".cauhoi.ontap_tracnghiem"
            android:exported="false" />
        <activity
            android:name=".Lich_su_lam_bai.lich_su_lam_bai"
            android:exported="false" />
        <activity
            android:name=".popup.popup_ket_thuc_thi_thu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".popup.popup_hoan_thanh_thi_thu"
            android:exported="false" />
        <activity
            android:name=".dangnhap.dang_ky"
            android:exported="false" />
        <activity
            android:name=".mucluc.mucluc"
            android:exported="false" />
        <activity
            android:name=".mucluc.veapp"
            android:exported="false" />
        <activity
            android:name=".mucluc.thaydoithongtin"
            android:exported="false" />
        <activity
            android:name=".quenmatkhau.quenmatkhau1"
            android:exported="false" />
        <activity
            android:name=".cauhoi.thi_tracnghiem"
            android:exported="false" />
        <activity
            android:name=".trangchu2"
            android:exported="false" />
        <activity
            android:name=".dangnhap.Logo_screen"
            android:exported="false" />
        <activity
            android:name=".FirstInstall.waiting"
            android:exported="false" />
        <activity
            android:name=".dangnhap.dang_nhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>