<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dacn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_knowledge"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_knowledge"
        android:supportsRtl="true"
        android:theme="@style/Theme.DACN">
        <activity
            android:name=".lich_su_lam_bai"
            android:exported="false" />
        <activity
            android:name=".popup.popup_ket_thuc_thi_thu"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:exported="false" />
        <activity
            android:name=".popup.popup_hoan_thanh_thi_thu"
            android:exported="false" />
        <activity
            android:name=".trangchu2"
            android:exported="false"/>
        <activity
            android:name=".mucluc.mucluc"
            android:exported="false" />
        <activity
            android:name=".mucluc.veapp"
            android:exported="false" />
        <activity
            android:name=".mucluc.thaydoithongtin"
            android:exported="false" />
        <activity
            android:name=".ontap_tracnghiem"
            android:exported="false" />
        <activity
            android:name=".thi_tracnghiem"
            android:exported="false" />
        <activity
            android:name=".dangnhap.dang_nhap"
            android:exported="false" />
        <activity
            android:name=".dangnhap.dang_ky"
            android:exported="false" />
        <activity
            android:name=".dangnhap.Logo_screen"
            android:theme="@style/Theme.DACN"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>